body, html{
	background-color: #ff9b05;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
#title {
	text-align: center;
	font-size: 8vw;
	font-weight: 500;
	margin-bottom: 0vw;
	background-color: white;
}

.subtitle {
	text-align: center;
	font-weight: 500;
	font-size: 5vw;
	background-color:white;
}

#album-info {
	display: flex;
	padding: 10% 0;
	margin-bottom: -4%;
	
	
	
}



.track-list-one{
	flex: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 1.75vw;
	opacity: .8;
	padding-top: 15vw;
	border: .25vw solid black;
	border-radius: 2vw;
	
	
}

.track-list-two{
	
	flex: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 1.75vw;
	opacity: .8;
	padding-top: 15vw;
	border: .25vw solid white;
	border-radius: 2vw;
	
}

li {
	list-style-type: none;
}

#img-div{
	flex: 3;
	text-align: center;
	
	
}

#image{
	max-width: 100%;
	display: block;
	height:auto;
	text-align:center;
	margin: auto;
}

#img-caption{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	opacity: .8;
	margin-top: 2.5%;
	margin-right: 4.5%;
	margin-left: 4.5%;
	white-space: pre-line;
	padding: 0 5%;
	max-width: 100%;

}

.quote{
	text-align: center;
	font-size: 3vw;
	margin-top: -4.25%;
	margin-bottom: 2%;
	background-color:white;
	border: 1vw solid white;
}

#tribute-info{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.tribute-item{
	font-family: 'Roboto', sans-serif;
	font-size: 1.75vw;
	color: black;
	width: 33%;
	margin: 2.0% 0;
	border: .30vw solid black;
	border-radius: 1.5vw;
	padding: 1% 0;
	text-align:center;
		
}

#tribute-link{
	display:block;
	text-align: center;
	margin-top: 2%;
	font-weight: 300;
	font-size: 2vw;

}

@media (max-width: 768px) {
	
	#album-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items:center;
		
	
	}

	.track-list-one{
		display: none;
	
	}

	div.track-list-two{
	
		display: none;
	
	}
	
	#img-div{
	flex: 1;
	text-align: center;
	
}

#img-caption{
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	opacity: .8;
	margin-top: 2.5%;
	margin-right: 4.5%;
	margin-left: 4.5%;
	white-space: pre-line;
	padding: 0 5%;
	max-width: 100%;
}
	
.quote{
	text-align: center;
	font-size: 4vw;
	margin-top: -4.25%;
	margin-bottom: 2%;
	background-color:white;
	border: 4vw solid white;
	padding-top: -1%;
}

h2.subtitle {
	text-align: center;
	font-weight: 500;
	font-size: 6vw;
	margin: -2.5% 0;
	background-color:white;
	width: 100%;
	
}

.tribute-item{
	flex:1;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	color: black;
	width: 100%;
	margin: 5% 0;
	border: 1vw solid black;
	border-radius: 2vw;
	padding: 1% 0;
	text-align:center;
		
}

